<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='ending_page.css') }}">
    <title>存入完成</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/continue_or_finish">
            <div class="title">此紀錄已成功存入資料庫<br>This record have been saved</div>
            <br>
            <br>
            <div>
                <button type="submit" name="continue_or_finish" value="continue">回到首頁 Back to Homepage</button>
                <!-- <button type="submit" name="continue_or_finish" value="finish">結束 Finish</button> -->
            </div>
        </form>
    </div>
</body>
</html>